.toolbar-logo img {
  height: 50px;
}

.toolbar-title-button {
  background-color: transparent; /* Makes the button background transparent */
  border: none; /* Removes border */
  box-shadow: none; /* Removes shadow if any */
  font-size: 24px; /* Adjust font size as needed */
  margin-left: 10px; /* Adjust spacing as needed */
  align-self: center; /* Aligns vertically center */
}

// .toolbar-title-button:hover {
//   background-color: rgba(255, 255, 255, 1.00); /* Optional: Adds hover effect */
// }

.spacer {
  flex: 1 1 auto;
}
